{% extends 'base.html' %}

<!DOCTYPE html>
{% load staticfiles %}
{% block title %}Newsfeed{% endblock %}

{% block body_block %}


<div class="container">
			<div class="row">
				    <div class="col-md-8">
				    <div class="contact-form bottom">
                        <form id="main-contact-form" name="contact-form" method="POST" action=""> 
                            <div class="form-group">
                                <textarea name="status" id="status" required="required" class="form-control" rows="8" placeholder="How's everything going around you?"></textarea>
                            </div>                        
                            <div class="form-group">
								<div class="col -md-5">
								</div>
                                <div class="col -md-2">
								<input type="submit" name="submit" class="form-control btn btn-register" value="Submit">
                                </div>
                                
                                
                                
                            </div>
                        </form>
                        
                    </div>
                
				    </div>
				    <div class="col-md-4">
						<div >
        <div class="text-center">
          <img src="{% static 'images/home/slider/slide1/sun.png' %}" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input class="form-control" type="file">
        </div>
      </div>
      
				    </div>
						
            </div>
</div>
<div class="container">
                
			<div class="response-area">
                                    <h2 class="bold">Posts</h2>
                                    
                                    
                                    <ul class="media-list">
									<INDENT>
									
                                        <li class="media">
                                            <div class="post-comment">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object" src="{% static 'images/home/slider/slide1/sun.png' %}" alt="">
                                                </a>
                                                <div class="media-body">
                                                    <span><i class="fa fa-user"></i>Posted by <a href="#"></a></span>
                                                    <p></p>
                                                    <ul class="nav navbar-nav post-nav">
                                                        
                                                        <li><a href="#"><i class="fa fa-clock-o"></i></a></li>
                                                        <!--<li><a href="#"><i class="fa fa-globe"></i>BUET,Dhaka</a></li>
                                                        -->
                                                        <li><a href="#"><i class="fa fa-comments"></i> Spreads</a></li>
                                                        
                                                    </ul>
                                                    
                                                    <div>
                                                    <br>
                                                    
                                                    </div>
                                                    <ul class="nav navbar-nav post-nav">
                                                        <li><a href="#"><i class="fa fa-reply"></i>Spread it!!!!</a></li>
                                                        <li><a href="#"><i class="fa fa-lock"></i>Block </a></li>
                                            
                                                    </ul>
                                                
                                                </div>
                                            </div>
                                            
                                        </li>
                                    
                                        
                                    
									</INDENT>
                                    </ul>                   
                                </div><!--/Response-area-->
        </div>
{% endblock %}
